<!-- Navigation -->
<div class="menu-wrapper">
    <div class="container">
            <div class="row">
            <nav class="navbar main-menu" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand hidden-sm" href="{{ site.baseurl }}/">Romanian Cultural Evening</a>
                    
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right scrollable-menu">
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Music <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ site.baseurl }}/en/music/raluca-bojor.html">Raluca Bojor</a></li>
                                <li><a href="{{ site.baseurl }}/en/music/nicoleta-roman.html">Nicoleta Roman & The Romanian-American Choir</a></li>
                                <li><a href="{{ site.baseurl }}/en/music/apel.html">Apel</a></li>
                            
                                
                                
                               
                                <!-- <li><a href="{{ site.baseurl }}/en/creative-writing/       .html"></a></li> -->
                                <!-- <li><a href="{{ site.baseurl }}/en/creative-writing/    .html"></a></li> -->
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Plastic Arts <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Artists</li>
                                <li><a href="{{ site.baseurl }}/en/plastic-arts/alina-gilice.html">Alina Gilice</a></li>
                                <li><a href="{{ site.baseurl }}/en/plastic-arts/maria-alexandra-theodorescu.html">Maria Alexandra Theodorescu</a></li>
                                <li class="dropdown-header">Workshops</li>
                                <li><a href="{{ site.baseurl }}/en/plastic-arts/icon-painting.html">Icon painting</a></li>
                                <li><a href="{{ site.baseurl }}/en/plastic-arts/landscape-painting.html">Landscape painting</a></li>
                                <li><a href="{{ site.baseurl }}/en/plastic-arts/handmade-jewelry.html">Handmade jewelry</a></li>
                                <li><a href="{{ site.baseurl }}/en/plastic-arts/handmade-candles.html">Handmade candles</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="{{ site.baseurl }}/en/events.html">
                                <div title="Events">Events</div>
                            </a>
                        </li>
                        
                        <li>
                            <a href="{{ site.baseurl }}/en/about.html">
                                <div title="About">About</div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/en/contact.html">
                                <div title="Contact">Contact</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</div>
<!-- /.container -->
<div class="clearfix"></div>
